<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{_lua:vim.fn.expand("%:p"):sub(vim.fn.expand('%:p'):find('/src/main/java/'), -1):gsub('/src/main/java/', ''):gsub('/' .. vim.fn.expand('%:t'), ''):gsub('/', '.')_}}">

</mapper>
